@import '../../scss/global/global';

.auth0Bar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  .userInfo {
    font-size: 11px;
    margin-right: 10px;
    color: $white;
  }
}
