@import '../../scss/global/global';

.student {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;

  .studentButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    width: 100px;
  }
  // .editButton {
  //   background-color: $blue-300;
  //   &:hover {
  //     background-color: $blue-400;
  //   }
  // }
  // .deleteButton {
  //   background-color: $orange-400;
  //   &:hover {
  //     background-color: $orange-500;
  //   }
  // }
  // .studentActive {
  //   background-color: $green-400;
  //   &:hover {
  //     background-color: $green-500;
  //   }
  // }
  // .studentInactive {
  //   background-color: $yellow-300;
  //   &:hover {
  //     background-color: $yellow-400;
  //   }
  // }
  .iconButton {
    margin-right: 10px;
  }
  .studentText {
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    flex: 1;
    line-height: 38px;
    height: 38px;
    vertical-align: middle;
  }
  .studentName,
  .studentEmail,
  .studentDateStarted {
    flex-grow: 150px;
    max-width: 150px;
  }
  .spacer {
    flex-grow: 1;
  }
}
.student:nth-child(even) {
  background-color: $gray-400;
}
.student:nth-child(odd) {
  background-color: $gray-300;
}
.student:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.student:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
