@import '../bootstrap/bootstrap-specific';
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Mate+SC&display=swap');

.editButton {
  background-color: $orange-400 !important;
  &:hover {
    background-color: $orange-500 !important;
  }
}
.deleteButton {
  background-color: $red-500 !important;
  &:hover {
    background-color: $red-400 !important;
  }
}
.activeButton {
  background-color: $green-400 !important;
  &:hover {
    background-color: $green-500 !important;
  }
}
.inactiveButton {
  background-color: $yellow-300 !important;
  &:hover {
    background-color: $yellow-400 !important;
  }
}

.active {
  color: $green-400 !important;
}

.inactive {
  color: $green-300 !important;
}
