@import './scss/global/_global.scss';

.appContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  font-family: 'ABeeZee', sans-serif;
}
